<div class="footer-section">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-2 footer-grid">
                <h4>Nuestras Prendas</h4>
                <ul>
                    <li><a href="products.html">Todos nuestros productos</a></li>
                    <li><a href="#">Camisas</a></li>
                    <li><a href="#">Pantalones</a></li>
                    <li><a href="#">Polos</a></li>
                    <li><a href="#">Chompas</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>service</h4>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Garantias</a></li>
                    <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contactanos</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>Mi perfil</h4>
                <ul>
                    <li><a href="#">Iniciar Sesion</a></li>
                    <li><a href="#">Mi peerfil</a></li>
                    <li><a href="#">Favoritos</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Privacidad</a></li>
                    <li><a href="#">Teminos y condiciones</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid1">
                <div class="social-icons">
                    <a href="#"><i class="icon"></i></a>
                    <a href="#"><i class="icon1"></i></a>
                    <a href="#"><i class="icon2"></i></a>
                </div>
                <p>Copyright &copy; 2015 Swim Wear. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>